﻿@model BanksySan.Demo.Web.Mvc.Authentication.Models.LoginViewModel

<!DOCTYPE html>

<html>
<head>
    <title>UnauthorisedError</title>
</head>
<body>
<div>
    <h1>Unauthorized</h1>

    <p>Error message: @TempData["message"]</p>

    @Html.ActionLink("Return to home", "Index", "Home")
</div>
</body>
</html>