﻿@model BanksySan.Demo.Web.Mvc.Authentication.Models.HomeModel

<!DOCTYPE html>

<html>
<head>
    <title>title</title>
</head>
<body>
<div>
    <p>Users:</p>
    <div>
        <b>Users: </b>
        @foreach (var user in Model.Users)
        {
            <div style="border: blue solid thick; float: left;">
                <p>User: @user.UserName</p>
                <p>Password: @user.Password</p>
                <p>Roles: @string.Join(", ", user.Roles.Select(x => x.Name))</p>
            </div>
        }
    </div>

    <div style="clear: both">
        <p>Roles:</p>
        @foreach (var role in Model.Roles)
        {
            <div style="border: blue solid thick; float: left;">
                <p>Name: @role.Name</p>
                <p>Users: @string.Join(", ", role.Users.Select(x => x.UserName))</p>
            </div>
        }
    </div>

    <div style="float: left; clear: both">
        Navigate: <ul>
            <li>@Html.ActionLink("Administrator only", "Index", "AdministratorOnly")</li>
            <li>@Html.ActionLink("User only", "Index", "UserOnly")</li>
        </ul>
    </div>

    <div>
        @Html.ActionLink("Expire authentication cookie", "Index", new { ExpireCookie = true })
    </div>

    @using (@Html.BeginForm("LogIn", "Authentication", FormMethod.Post, new { style = "clear: both" }))
    {
        <label for="username">User name: </label>
        <input type="text" name="username" id="username"/>
        <label for="password">Password</label>
        <input type="text" name="password" id="password"/>
        <input type="submit" value="Submit"/>
    }
</div>
</body>
</html>